doctype html
html(lang='en')
head
    meta(charset='utf-8')
    title BongTalk
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    //link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/bootstrap/css/bootstrap.css', rel='stylesheet')
    link(href='/stylesheets/status.css', rel='stylesheet')
    //
       HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='js/html5shiv.js')
    //
       Fav and touch icons
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='img/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='img/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='img/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='img/apple-touch-icon-57-precomposed.png')
    script(src='http://code.jquery.com/jquery.js')
    script(type='text/javascript', src='/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/status.js')
    body
        .container
            .row.clearfix
                .col-md-12.column
                    .jumbotron
                        h1  BongTalk Status
                        p  Monitoring server status
                        //p
                        //    a.btn.btn-primary.btn-large(href='#') Learn more
            .row.clearfix
                .col-md-12.column
                    h2 Information
                    p instance id : #{binder.bongtalk.id}
                    p Service port : #{binder.bongtalk.servicePort.toString()}
                    p Redis DB url : #{binder.bongtalk.redisUrl}
            for channel in binder.getChannels()
                .well.well-user-group.row.clearfix(id='group-well-' + channel.id)
                    .col-md-12.column
                        h4 Channel - #{channel.id}
                        each line in binder.arrayToGroup(binder.getUsers(channel.id),3)
                            .row.clearfix
                                each user in line
                                    mixin user(user)
                                        strong #{user.name}
                                        .user-id id: #{user.id}
                                        div status : #{user.status}
                                        div connection count : #{user.connectionCount}
                                    if user.status === 'online'
                                        .well.well-user-online.col-md-4.column
                                            mixin user(user)
                                    else
                                        .well.col-md-4.column
                                            mixin user(user)
                                            button.btn.btn-danger.btn-xs.btn-user-kick(data-user=user.id, data-channel=channel.id, type='button') Kick


