!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title BongTalk
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    //link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='bootstrap/css/bootstrap.css', rel='stylesheet')
    //link(href='stylesheets/style.css', rel='stylesheet')
    //
       HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='js/html5shiv.js')
    //
       Fav and touch icons
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='img/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='img/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='img/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='img/apple-touch-icon-57-precomposed.png')
    script(src='http://code.jquery.com/jquery.js')
    script(type='text/javascript', src='bootstrap/js/bootstrap.min.js')
    body
        .container
            .row.clearfix
                .col-md-12.column
                    .jumbotron
                        h1  BongTalk Status
                        p  Monitoring server status
                        //p
                        //    a.btn.btn-primary.btn-large(href='#') Learn more
            .row.clearfix
                .col-md-12.column
                    h2 Information
                    p instance id : #{binder.bongtalk.id}
                    p Service port : #{binder.bongtalk.servicePort.toString()}
                    p Redis DB url : #{binder.bongtalk.redisUrl}
            for zone in binder.getZones()
                .row.clearfix
                    .col-md-12.column
                        h2 Zone - #{zone.id}
                        for user in binder.getUsers(zone.id)
                            .row.clearfix
                                .col-md-12.column
                                    h3 #{user.name}
                                    p id: #{user.id}
                                    p status : #{user.status}
                            //if user.index % 3 == 0
                            //    .row.clearfix
                            //        .col-md-4.column
                            //            h3 #{user.name}
                            //            p #{user.jsonString}
                            //else
                            //        .col-md-4.column
                            //            h3 #{user.name}
                            //            p #{user.jsonString}
            //.row.clearfix
            //    .col-md-12.column
            //        h2 Lorem ipsum dolor sit amet.
            //        .row.clearfix
            //            .col-md-4.column
            //                h3 Heading
            //                p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            //                p
            //                    a.btn(href='#') View details »
            //            .col-md-4.column
            //                h3 Heading
            //                p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            //                p
            //                    a.btn(href='#') View details »
            //            .col-md-4.column
            //                h3 Heading
            //                p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            //                p
            //                    a.btn(href='#') View details »
            //        .row.clearfix
            //            .col-md-4.column
            //                h3 Heading
            //                p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            //                p
            //                    a.btn(href='#') View details »
            //            .col-md-4.column
            //                h3 Heading
            //                p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            //                p
            //                    a.btn(href='#') View details »
            //            .col-md-4.column
            //                h3 Heading
            //                p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            //                p
            //                    a.btn(href='#') View details »